{% extends 'base.html' %}
{% load static %}

{% block content %}
<main role="main">

	<div class="row">
		<div class="col-md-12">
			
			<div class="carousel slide" id="carousel-820595">
					<div class="carousel-item active">
						<img class="d-block w-100 foto-capa" alt="Carousel Bootstrap First" src="{% static 'base/img/foto_capa.jpg' %}" />
						<div class="carousel-caption">
							<h4 class="font-capa">
								Casa de acolhimento, construção de autonomia e desenvolvimento humano.
							</h4>

						</div>
					</div>
		   </div>
	    </div>
	</div>

			<!-- sessão o que fazemos -->
			<section class="text-center pb-5 pt-5">
				<div class="container">
					<h2 class="pb-5">
						 O que fazemos
					</h2>

					<p class="lead">
						A Casa de Simeão – Abrigo conveniado com a SMADS – Secretaria Municipal de Assistência e Desenvolvimento Social – é a casa de 150 homens com mais de sessenta anos.
						Nossa metodologia de trabalho baseia-se no reconhecimento do idoso em seu ser integral, possuidor de sabedoria e experiências e em um processo de educação permanente
						e realinhamento de suas visões e expectativas para construir novos caminhos. Trabalhamos no combate ao isolamento, sobre a base da escuta e a negociação, alimentado o desejo do idoso de continuar a desenvolver o seu potencial humano e intelectual.					</p>
				</div>
			</section>

			<!-- Fim sessão depoimentos -->
			<!-- sessão atividades -->
			<section class="text-center pb-5 pt-5">
				<div class="container">
				<div class="row">
					<div class="col">
						<img src="{% static 'base/img/user.png' %}" alt="icone de pessoas"  />
						<h5>Oficinas</h5>
						<p class="lead">
							Promover a criatividade e participação dos usuários em diversas atividades como culinária e informática.
						</p>
					</div>
					<div class="col">
						<img src="{% static 'base/img/educator.png' %}" alt="icone de palestra"  />
						<h5>Palestras</h5>
						<p class="lead">
							Informações sobre diversos temos, tendo como objetivo trazer novos conhecimentos, orientações, direitos e socialização.
						</p>
					</div>
					<div class="col">
						<img src="{% static 'base/img/house.png' %}" alt="icone de uma casa"  />
						<h5>Moradia autônoma</h5>
						<p class="lead">
							Atividade de reflexão, orientação e preparação para moradia autônoma.
						</p>
					</div>
					<div class="col">
						<img src="{% static 'base/img/music.png' %}" alt="icone de nota musical"  />
						<h5>Roda de música</h5>
						<p class="lead">
							Promover descontração, integração e criatividade.
						</p>
					</div>
					<div class="col">
						<img src="{% static 'base/img/park.png' %}" alt="icone de parque"  />
						<h5>Lazer</h5>
						<p class="lead">
							Realização de passeios, visitas culturais e eventos visando a convivência coletiva.
						</p>
					</div>
				</div>
				</div>

			</section>
			<!-- Fim sessão atividades -->

			<section class="section-blue text-center text-light pb-5 pt-5">
				<div class="container pb-5 pt-5">
				<h4>Eles são curiosos, têm muito a contar. Com cabelo branco e rugas que evidenciam os anos,
					contam suas histórias, se emocionam com o passado, mas não perdem a esperança.</h4>
				</div>
			</section>

			<!-- sessão nossos números -->
			<section class="jumbotron text-center ">
				<h2 class="jumbotron-heading titulo pb-5">Impacto social</h2>
				<div class="mx-auto">
					<div class="row justify-content-center">
						<div class="card" style="width: 18rem;">
						  <div class="card-body card-one text-light">
							<h5 class="card-title"><img src="{% static 'base/img/icon.png' %}" alt="icone pessoa"  /></h5>							<p class="card-text">150 idosos com residencia</p>
						  </div>
						</div>
						<div class="card" style="width: 18rem;">
						  <div class="card-body card-two text-light">
							<h5 class="card-title"><img src="{% static 'base/img/icon.png' %}" alt="icone de nota musical"  /></h5>
							<p class="card-text">mais de 20 oficinas realizadas esse ano</p>
						  </div>
						</div>
						<div class="card" style="width: 18rem;">
						  <div class="card-body card-three text-light">
							<h5 class="card-title"><img src="{% static 'base/img/icon.png' %}" alt="icone pessoa"  /></h5>
							<p class="card-text">mais de 20 oficinas realizadas esse ano</p>
						  </div>
						</div>
					</div>
				</div>
			</section>
			<!-- Fim sessão nossos números -->
			<br>
			<!-- sessão depoimentos -->
			<section class="text-center pb-5">
				<div class="container">
					<h2 class="jumbotron-heading titulo pb-5">Depoimentos</h2>
					<div class="row">
						<div class="col-md-4">
							<img alt="Bootstrap Image Preview" src="{% static 'base/img/idoso1.png' %}" class="rounded-circle" />
							<p>A casa de simeão é muito acolhedora,
								aqui fiz uma nova família </p>
						</div>
						<div class="col-md-4">
							<img alt="Bootstrap Image Preview" src="{% static 'base/img/idoso2.png' %}" class="rounded-circle" />
							<p>Eu que nunca tinha cozinhado,
								aprendi vários pratos!</p>
						</div>
						<div class="col-md-4">
							<img alt="Bootstrap Image Preview" src="{% static 'base/img/idoso3.png' %}" class="rounded-circle" />
							<p>A palestra sobre saúde mental
								foi muito boa!</p>
						</div>
					</div>
				</div>
			</section>
			<!-- Fim sessão depoimentos -->
			<!-- sessão empresas com selo -->
			<section class="jumbotron text-center ">
				<h2 class="jumbotron-heading titulo pb-5">Empresas com nosso selo de apoiador oficial</h2>
				<div class="row">
					<div class="col-md-4">
						<img alt="Bootstrap Image Preview" src="{% static 'base/img/empresa1.png' %}" class="rounded-circle" />
						<h4>Casa fit</h4>
					</div>
					<div class="col-md-4">
						<img alt="Bootstrap Image Preview" src="{% static 'base/img/empresa2.png' %}" class="rounded-circle" />
						<h4>Vieiras modas</h4>
					</div>
					<div class="col-md-4">
						<img alt="Bootstrap Image Preview" src="{% static 'base/img/empresa3.png' %}" class="rounded-circle" />
						<h4>CAtelier morais</h4>
					</div>
				</div>
			</section>
			<!-- Fim empresa com selo -->

</main>

{% endblock %}