.main-footer{
    background-color: #808080;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}