.main-footer{
    background-color: #032872;
    color: white;
}

.botao{
    background-color: #CC0000;
    color: white;
    border-radius: 20px;
    padding: 8px;
}
.section-blue{
    background-color: #032872;
}
.nav-style{
    background-color: #032872;
    color: white;
}
.rights{
    background-color: #1B2E56;
    color: white;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.card-one{
    background-color: #BB0202;
}

.card-two{
    background-color: #9C0000;
}
.card-three{
    background-color: #770000;
}